# This file is part of Dependency-Track.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0
# Copyright (c) OWASP Foundation. All Rights Reserved.
name: Tests CI

on:
  push:
    branches:
      - 'main'            # Main branch
      - 'feature-**'      # Feature branch
      - '[0-9]+.[0-9]+.x' # Release branches
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
  pull_request:
    branches:
      - 'main'            # Main branch
      - 'feature-**'      # Feature branch
      - '[0-9]+.[0-9]+.x' # Release branches
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
  workflow_dispatch:

# The following concurrency group cancels in-progress jobs or runs on pull_request events only;
# if github.head_ref is undefined, the concurrency group will fallback to the run ID,
# which is guaranteed to be both unique and defined for the run.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: { }

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Set up JDK
        uses: actions/setup-java@v4.7.1
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Execute unit tests
        env:
          TESTCONTAINERS_REUSE_ENABLE: "true"
        run: |-
          mvn -B --no-transfer-progress clean verify

      # Publishing coverage to Codacy is only possible for builds of push events.
      # PRs from forks do not get access to repository secrets.
      # https://securitylab.github.com/research/github-actions-preventing-pwn-requests/
      - name: Publish test coverage
        if: ${{ github.event_name != 'pull_request' && github.repository_owner == 'DependencyTrack' }}
        uses: codacy/codacy-coverage-reporter-action@v1.3.0
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          language: Java
          coverage-reports: coverage-report/target/site/jacoco-aggregate/jacoco.xml

      - name: Save PR details
        if: ${{ github.event_name == 'pull_request' }}
        run: |-
          echo ${{ github.sha }} > pr-commit.txt
          echo ${{ github.event.number }} > pr-number.txt

      - name: Upload PR test coverage report
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/upload-artifact@6027e3dd177782cd8ab9af838c04fd81a07f1d47 # tag=v4.4.0
        with:
          name: pr-test-coverage-report
          path: |-
            pr-commit.txt
            pr-number.txt
            coverage-report/target/site/jacoco-aggregate
